<% content_for(:html_head) do %>
  <%= javascript_include_tag "cms/content_library" %>
  <% javascript_tag do %>
    jQuery(function($){
      var collectionName = '<%= CustomFormElement.name.underscore.pluralize %>'

      $('table.data tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/)
        var type = match[1]
        var id = match[2]
        var editable = !$(this).hasClass("non-editable")
        $('table.data tbody tr').removeClass('selected')
        $(this).addClass('selected')
        $('#functions .button').addClass('disabled').attr('href','#')
        $('#add_button').removeClass('disabled').attr('href', '<%= new_cms_custom_form_custom_form_element_path(:custom_form_id => @block.id) %>')
        <% edit_urls = edit_cms_custom_form_custom_form_element_path(:custom_form_id => @block.id, :id => 0).split(/\/0\//) -%>
        if (editable) $('#edit_button').removeClass('disabled').attr('href', '<%= edit_urls.first %>'+'/'+id+'/'+'<%= edit_urls.last %>')

       $('#delete_button').removeClass('disabled')
            .attr('href', '/cms/'+collectionName+'/'+id)
            .attr('title', 'Are You Sure You Want To Delete This Element?')
      })
    })
  <% end %>
  <%= stylesheet_link_tag "cms/form_layout", "cms/content_library" %>
<% end %>

<% page_title "Content Library / List Custom Form Elements" %>
<% @toolbar_title = "Custom Form Elements - #{@block.name}" %>

<%= render :partial => 'cms/custom_form_elements/toolbar' %>

<div class="roundedcorners">
  <table id="blocks" class="data">
    <thead>
      <tr>
        <th class="name first" colspan="2"><div class="dividers">Name</div></th>
        <th class="type last"><div class="dividers">Type</div></th>
      </tr>
    </thead>
    <tbody>
      <% @form_elements.each do |element| -%>
        <tr id="custom_form_element_<%= element.id %>">
          <td class="first"></td>
          <td class="name"><div class="dividers"><%=h element.name %></div></td>
          <td class="type"><div class="dividers"><%=h element.class.to_s %></div></td>
        </tr>
      <% end -%>
      <tr>
        <td colspan="3" class="buffer"></td>
      </tr>
    </tbody>
  </table>
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>
  
</div>