<div class="field_container">
  <% element.load_element -%>
    <div class="fieldLabel">
        <label for="fieldLabel"><%=h element.label %></label>
    </div>
    <div class="fieldContent">
      <% element.options_array.each do |option| -%>
        <span class="pair">
          <%= radio_button_tag("custom_form[#{element.html_attribute_name}][#{string_to_html_name(option.last)}]", '1', option.first, :class => element.class_array.join(' ')) %>
          <label for="custom_form_<%= element.html_attribute_name %>_<%= string_to_html_name(option.last) %>"><%=h option.last %></label>
        </span>
      <% end -%>
    </div>
</div>