<% content_for(:html_head) do %>
  <%= javascript_include_tag "cms/content_library" %>
  <%= stylesheet_link_tag "cms/form_layout", "cms/content_library" %>
<% end %>

<% content_for :functions do %>
  <p>hahahahaha</p>
<% end %>

<% page_title "Content Library / List Custom Form Elements" %>
<% @toolbar_title = "List Custom Form Elements" %>

<%= render :partial => 'cms/blocks/toolbar' %>

<div class="roundedcorners">
  <table id="blocks" class="data">
    <thead>
      <tr>
        <th class="name first" colspan="2"><div class="dividers">Name</div></th>
        <th><div class="dividers">Type</div></th>
        <th class="last" colspan="2"><div class="dividers">&nbsp;</div></th>
      </tr>
    </thead>
    <tbody>
      <% @block.custom_form_elements.each do |element| -%>
        <tr id="custom_form_element_<%= element.id %>">
          <td class="first"></td>
          <td class="name"><div class="dividers"><%=h element.name %></div></td>
          <td><div class="dividers"><%=h element.class.to_s %></div></td>
          <td><div class="dividers"><%= link_to('edit', {}) %></div></td>
          <td class="last"></td>
        </tr>
      <% end -%>
      <tr>
        <td colspan="5" class="buffer"></td>
      </tr>
    </tbody>
  </table>
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>


  <div class="buttons">
  <%= link_to('<span>Add Element</span>', {}, :class => "button") %>
  <% form_tag(new_element_cms_custom_forms_path, :method => :get, :class => 'hidden') do %>
    <select name="foo">
      <option value="">-- select type --</option>
    </select>
    <div class="lt_button" style="display: inline;">
      <img alt="" src="/images/cms/lt_button_l.gif"/>
      <div class="lt_button_content" style="display: inline;">
        <span>
          <button class="submit" tabindex="4" value="true" name="custom_form[publish_on_save]" type="submit">Add</button>
        </span>
      </div>
      <img style="margin-right: 10px;" alt="" src="/images/cms/lt_button_r.gif"/>
    </div>

  <% end %>
  </div>
</div>