<h3>HTML block</h3>
<% index ||= (session[:form_builder][:element_index] += 1) -%>
<div class="fields text_fields">
  <% element.load_element -%>
  <%= label_tag "custom_form_elements_#{index}_name", 'Identifier' %>
  <%= text_field_tag("custom_form[elements][#{index}][name]", element.name) %>
  <br clear="all" />
  <%= label_tag "custom_form_elements_#{index}_position", 'Position' %>
  <%= text_field_tag("custom_form[elements][#{index}][position]", element.position) %>
  <%= hidden_field_tag("custom_form[elements][#{index}][type]", 'HtmlBlockCustomFormElement') %>
  <br clear="all" />
  <%= render :partial => 'cms/custom_forms/forms/element_management_links', :locals => {:element => element}  %>
</div>
