<h3>Select element</h3>
<% index ||= (session[:form_builder][:element_index] += 1) -%>
<div class="fields text_fields">
  <% element.load_element -%>
  <%= label_tag "custom_form_elements_#{index}_name", 'Identifier' %>
  <%= text_field_tag("custom_form[elements][#{index}][name]", element.name) %>
  <div class="instructions">Name will not appear on form.</div>
  <br clear="all" />
  <%= label_tag "custom_form_elements_#{index}_name", 'Label' %>
  <%= text_field_tag("custom_form[elements][#{index}][label]", element.label) %>
  <br clear="all" />
  <%= label_tag "custom_form_elements_#{index}_position", 'Position' %>
  <%= text_field_tag("custom_form[elements][#{index}][position]", element.position) %>
  <br clear="all" />
  <div class="to_hide">
    <%= label_tag "custom_form_elements_#{index}_options", 'Options' %>
    <%= text_area_tag("custom_form[elements][#{index}][options]", element.options, :cols => 35, :rows => 4) %>
    <div class="instructions">Enter one label per line.</div>
    <%= hidden_field_tag("custom_form[elements][#{index}][type]", 'SelectCustomFormElement') %>
    <br clear="all" />
  </div>
  <%#= link_to('hide', {:anchor => ''}, :onclick => 'return false;', :class => 'hide_link') %>
  <%#= link_to('show', {:anchor => ''}, :onclick => 'return false;', :class => 'show_link', :style => 'display: none;') %>
  <%= link_to('delete', {:anchor => ''}, :onclick => 'deleteFormElement($(this)); return false;', :class => 'delete_link') %>
</div>
<br clear="all" />
