<h3>Select list</h3>
<% index ||= (session[:form_builder][:element_index] += 1) -%>
<div class="fields text_fields">
  <% element.load_element -%>
  <%= label_tag "custom_form_elements_#{index}_name", 'Identifier' %>
  <%= text_field_tag("custom_form[elements][#{index}][name]", element.name) %>
  <br clear="all" />
  <%= label_tag "custom_form_elements_#{index}_position", 'Position' %>
  <%= text_field_tag("custom_form[elements][#{index}][position]", element.position) %>
  <br clear="all" />
  <% hide_if_editing(:div, element) do %>
    <%= label_tag "custom_form_elements_#{index}_name", 'Label' %>
    <%= text_field_tag("custom_form[elements][#{index}][label]", element.label) %>
    <br clear="all" />
    <%= label_tag "custom_form_elements_#{index}_options", 'Options' %>
    <%= text_area_tag("custom_form[elements][#{index}][options]", element.options, :cols => 35, :rows => 4) %>
    <div class="instructions">Enter one label per line.</div>
    <%= hidden_field_tag("custom_form[elements][#{index}][type]", 'SelectCustomFormElement') %>
    <br clear="all" />
  <% end %>
  <%= render :partial => 'cms/custom_forms/forms/element_management_links', :locals => {:element => element}  %>
</div>
