<h3>Text input</h3>
<% index ||= (session[:form_builder][:element_index] += 1) -%>
<div class="fields text_fields">
  <% element.load_element -%>
  <%= label_tag "custom_form_elements_#{index}_name", 'Identifier' %>
  <%= text_field_tag("custom_form[elements][#{index}][name]", element.name) %>
  <br clear="all" />
  <% hide_if_editing(:div, element) do %>
    <%= label_tag "custom_form_elements_#{index}_name", 'Label' %>
    <%= text_field_tag("custom_form[elements][#{index}][label]", element.label) %>
    <%= hidden_field_tag("custom_form[elements][#{index}][type]", 'TextCustomFormElement') %>
    <br clear="all" />
  <% end %>
  <%= render :partial => 'cms/custom_forms/forms/element_management_links', :locals => {:element => element}  %>
</div>
